@import url(/src/css/total.css);
@import url(header/header.css);
@import url(sidebar/sidebar.css);
@import url(route-card/route-card.css);
@import url(route-stat/route-stat.css);
@import url(map-controls/map-controls.css);
@import url(map-layers/map-layers.css);
@import url(map-area/map-area.css);
@import url(map-area/map-bottom-bar/map-bottom-bar.css);
@import url(table/table.css);
@import url(table/pagination.css);
@import url(slider/slider.css);

.map-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 75px);
  background-image: url(/src/img/overlay.png);
  background-size: cover;
}

.leaflet-control-zoom-in {
  border-top-left-radius: 30px !important;
}

.leaflet-control-zoom-out {
  border-bottom-right-radius: 30px !important;
}

.leaflet-touch .leaflet-bar a {
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
  background: #112727 !important;
  color: white !important;
  border: 1px solid #fff !important;
}

.map-control {
  display: flex;
  flex-direction: column;
}

.map-control__input {
  width: 49%;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid var(--accent-color);
  color: #000;
  outline: none;
  box-shadow: 5px 5px #fff;
}

.map-control__input::placeholder {
  color: #000;
}

.sidebar--tables {
  flex-basis: 40%;
  border-right: 1px solid var(--accent-color);
  display: flex;
  align-items: center;
}