.profile-data {
  max-width: 320px;
  width: 30%;
  border-radius: 12px;
  background-color: rgba(23, 54, 53, 0.2);;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow: hidden;
  padding: 24px;
  border: 1px solid var(--accent-color);
  height: fit-content;
}