@import url(/src/css/total.css);
@import url(header/header.css);
@import url(profile-main/profile-main.css);
@import url(profile-data/profile-data--totale.css);

.profile-stats {
  width: 70%;
  max-width: 1000px;
}

.stats-settings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 54, 53, 0.2);
  border: 1px solid var(--accent-color);
  border-radius: 12px;
}

.stats-settings__menu {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.stats-settings__menu-item {
  list-style: none;
}

.stats-settings__select-wrapper {
  position: relative;
}

.stats-settings__select-wrapper::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 14px;
  height: 9px;
  background-image: url(/src/svg/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  pointer-events: none;
}

.stats-settings__select {
  position: relative;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  padding: 9px 125px 9px 9px;
  background-color: rgba(0, 230, 195, 0.2);
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.stats-settings__option {
  background-color: rgb(26, 167, 146);
}

.stats-settings__option:checked {
  color: #18191C;
}

.stats-settings__button {
  background-color: #00E6C3;
  color: #0a1f28;
  height: 36px;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  box-shadow: 0 6px 10px rgba(46, 232, 196, .25);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}