:root {
  --main-bg-color: #0F2323;

  --dark-bg-color: #0D1117;

  --main-text-color: #FFFFFF;

  --inactive-text-color: #94A3B8;

  --accent-text-color: #00E6C3;

  --main-font-family: 'Inter';

  --block-padding: 40px;

  --accent-color: #2E6B69;
}