.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px var(--block-padding);
  border-bottom: 1px solid #1E293B;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__image {
  width: 32px;
  height: 32px;
}

.header__logo-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: var(--main-text-color);
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 50px;
}

.header__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--inactive-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.header__link:hover {
  color: var(--main-text-color);
}

.header__link--active {
  color: var(--main-text-color);
}