.profile-data__achievment {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: crosshair;
  transition: transform 1s ease;
}

.profile-data__achievment:hover {
  transform: rotate(360deg);
}